<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HSPNotulen.My.MySettings.DatabaseName" connectionString="hspnotulen" />
        <add name="HSPNotulen.My.MySettings.Port" connectionString="3306" />
        <add name="HSPNotulen.My.MySettings.UserID" connectionString="root" />
        <add name="HSPNotulen.My.MySettings.Password" connectionString="hsp123" />
        <add name="HSPNotulen.My.MySettings.HRusername" connectionString="sa" />
        <add name="HSPNotulen.My.MySettings.HRDatabase" connectionString="MIP_HARDO" />
        <add name="HSPNotulen.My.MySettings.HRserver" connectionString="192.168.1.113" />
        <add name="HSPNotulen.My.MySettings.HRpassword" connectionString="h4rd0MIP" />
        <add name="HSPNotulen.My.MySettings.Server" connectionString="localhost" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>