<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HSPHRDCONSOLE.My.MySettings.Server" connectionString="192.168.1.112" />
        <add name="HSPHRDCONSOLE.My.MySettings.UserID" connectionString="root" />
        <add name="HSPHRDCONSOLE.My.MySettings.Password" connectionString="dbxroothsp123" />
        <add name="HSPHRDCONSOLE.My.MySettings.DatabaseName" connectionString="botsrv" />
        <add name="HSPHRDCONSOLE.My.MySettings.Port" connectionString="3306" />
        <add name="HSPHRDCONSOLE.My.MySettings.HRusername" connectionString="sa" />
        <add name="HSPHRDCONSOLE.My.MySettings.HRDatabase" connectionString="MIP_HARDO" />
        <add name="HSPHRDCONSOLE.My.MySettings.HRserver" connectionString="192.168.1.115" />
        <add name="HSPHRDCONSOLE.My.MySettings.HRpassword" connectionString="H@Rd0Admin2017@" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>